/* Example styles for form elements */
body {
    background-image: url("background3.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
    
}

.outer-container, .outer-container1 {
    width: 100%; /* Make sure the container spans the entire width */
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100vh;
    overflow-y: auto;
    
}

.form-container, .picture{
    font-size: larger;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-style:solid;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    }


.pictures{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    overflow-y: auto;
}

.pictures-container{
    background-color: black;

}
