/* Example styles for form elements */
body {
    background-image: url("background2.png");
        background-position: center top;
        background-repeat: repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
    
}
 

 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}



.option-box {
    border: 5px solid black;
    padding: 10px; /* Increase padding to make the box bigger */
    width: 325px; /* Increase width to make the box bigger */
    height: 1000px; /* Increase height to make the box bigger */
    background-color: aliceblue;
    border-radius: 50px;
    margin-bottom: 10px;
}
.option-box a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0); /* Change the color of the text */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Change the font of the text */
    font-size: 14px; /* Change the size of the text */
    font-weight: bold;
    text-align: center;
}

.pictures{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0 auto;
}
